<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<meta name="Author" content="0431" />
<title>这里是您的网站名称1</title>
<meta name="keywords" content="这里是您的网站名称4" />
<meta name="description" content="这里是您的网站名称" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/style/subpage.css" />
    
<script type="text/javascript" src="__PUBLIC__/mobile/style/jquery.js"></script>
    
  


<style>
.head {
    background: #1a2a38;
}
.foot {
    background: #132330;
}
.nav {
    background: #0152b5 !important
}
.nav_color {
    background: #222;
}
</style>
<script type="text/javascript" src="__PUBLIC__/mobile/style/nav.js"></script>
    <script type="text/javascript" src="__PUBLIC__/mobile/style/cart_icon.js"></script>
    
</head>

<body>

<include file="Common/nav" /> 
<div class="allpage">
    <div class="black-fixed iconfont">&#xe60f;</div>
 <include file="Common/header" /> 

    <div class="content">
        <div class="about">
                <h1>{$arts.title}</h1>
                                <if condition="$arts['pic'] neq ''">
                                <center><img src="__ROOT__/{$arts.pic}" /></center>
                                </if>                <span class="picContent"><p><?php echo htmlspecialchars_decode($arts['content']);?></p>
</span>
                <a href="{$furl}" title="{$fname}" class="page">上一条：{$fname}</a>                <a href="{$aurl}" title="{$aname}" class="page">下一条：{$aname}</a>                <a href="__CONTROLLER__/index" title="返回列表" class="back">返回列表</a>        
        </div>
          
    </div>
    <include file="Common/footer" /> 
    
    
</div>
</body>
</html>