<div class="head">
  <div class="headtop">
      <div class="fra1">
          <a href="index.php" title="这里是您的网站名称"><img src="/carshop/Public/pc/images/logo.png" alt="这里是您的网站名称"></a>
            <div class="head-right">
            <span><font>租车<br>热线 </font><label>+86-0000-96877</label></span>
            <div class="search">
               <form id="search" name="search" method="get" action="http://0001543.ks.panguweb.cn/search.php">
               
                <input class="text pngFix" name="kws" id="kws" value="请输入搜索关键词" type="text">
                <div class="select pngFix">
                 <input id="rid_input" class="selectbox" autocomplete="off" readonly="readonly" type="text"><div id="rid_container" class="selectbox-wrapper" style="display: none;"><ul><li id="rid_input_1" class="selected">新闻资讯</li><li id="rid_input_2">车辆展示</li><li id="rid_input_4">主要车型</li><li id="rid_input_8">资质荣誉</li></ul></div><select id="rid" style="display: none" name="rid">
                                         <option value="1" selected="selected">新闻资讯</option>
                                         <option value="2">车辆展示</option>
                                         <option value="4">主要车型</option>
                                         <option value="8">资质荣誉</option>
                                     </select>
                </div>
                <input title="搜索" class="button" value="" type="submit">
            </form>
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery("#rid").selectbox();
                });
            </script> 
            </div>
            </div>
        </div>
    </div>
  <div class="nav">
      <ul>
          <li><a href="index.php" title="网站首页">网站首页</a></li>
                         <li><a href="http://0001543.ks.panguweb.cn/about.php" title="关于我们" class="">关于我们</a></li>
                        <li><a href="http://0001543.ks.panguweb.cn/product.php" title="车辆展示" class="">车辆展示</a></li>
                        <li><a href="http://0001543.ks.panguweb.cn/news.php" title="新闻资讯" class="">新闻资讯</a></li>
                        <li><a href="http://0001543.ks.panguweb.cn/case.php" title="主要车型" class="">主要车型</a></li>
                        <li><a href="http://0001543.ks.panguweb.cn/honor.php" title="资质荣誉" class="">资质荣誉</a></li>
                        <li><a href="http://0001543.ks.panguweb.cn/notice.php" title="租车须知">租车须知</a></li>
                        <li><a href="http://0001543.ks.panguweb.cn/hr.php" title="人才招聘">人才招聘</a></li>
                        <li><a href="http://0001543.ks.panguweb.cn/book.php" title="在线留言">在线留言</a></li>
                        <li><a href="http://0001543.ks.panguweb.cn/contact.php" title="联系我们">联系我们</a></li>
                    </ul>
    </div>
    
</div>